.date > div {
  margin-bottom: 8px;
}

.duplicate {
  background-color: #f4f4f5;
}

.currentDuplicate {
  background-color: #b3d8ff;
}

.current {
  background-color: #409EFF;
}

.date /deep/ .el-input-number--mini {
  width: 200px;
  line-height: 30px;
}

.date /deep/ .el-input--mini .el-input__inner {
  height: 32px;
  line-height: 32px;
}

.date /deep/ .el-input-number--mini .el-input-number__decrease, .date /deep/ .el-input-number--mini .el-input-number__increase {
  width: 32px;
}

.date /deep/ .el-input-number__decrease, .date /deep/ .el-input-number__increase {
  background-color: #fff;
}

.date /deep/ .ivu-input[disabled], fieldset[disabled] .ivu-input {
  background-color: #fff !important;
  color: #000 !important;
}

.home /deep/ .ivu-table-cell {
  padding: 2px;
}

.home /deep/ .ivu-table-cell > span {
  padding: 16px;
}

#aaaaaaa::-webkit-scrollbar {
  display: none !important;
}

#ccccccc::-webkit-scrollbar {
  display: none !important;
}

.asdasd:hover {
  color: rgba(45, 140, 240, 1) !important;
  border: 2px rgba(45, 140, 240, 1) solid !important;
}
